#answer_table {
    border: solid orange 1px;
    padding: 5px;
}

#answer_table tr:nth-child(even) {
    background-color: rgba(255, 215, 0, .3);
}

#answer_table tr:nth-child(odd) {
    background-color: rgba(23, 162, 184, .3);
}

#answer_table th {
    background-color: rgb(255, 215, 0);
}

#answer_table .right {
    border-left: solid orange 1px;
    width: 70%;
}

#answer_table .value {
    border-left: solid orange 1px;
    width: 30%;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

#time {
    color: red;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;

}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;

}
