<!DOCTYPE html>
<html>
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8"/>
    <!-- Ensures proper rendering and touch-zooming for all devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/> -->

    <!-- Javascript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


    <!-- Change the title of the page depending on what's being displayed -->
    <title>
      {% block c_title %}
      Placeholder title
      {% endblock %}
    </title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    {% block links_or_scripts %}
    {% endblock %}
  </head>

  <body>

    <!-- Navbar - Consistent across all pages-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
	  <a class="navbar-brand" href="/">
	    <img src="{{ url_for('static', filename='img/sector_transparent.png') }}" width="75" height="40" class="d-inline-block align-top" alt="">
	  </a>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('root') }}">Home</a>
          </li>
	  <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('visualization') }}">Visualization</a>
          </li>
        </ul>

	<!-- Commented for demo purposes. Also unsure if we want the snippets idea -->
	<!-- button help https://getbootstrap.com/docs/4.0/components/buttons/ -->
	<!--
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
	    -->
      </div>
    </nav>

    <!-- Actual Page Related-->
    <div class="container">
      <div class="header">
        {% block header %}
        {% endblock %}
      </div>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <!-- Footer - Consistent across all pages-->
    <footer class="fixed-bottom">
      <hr>
      <p class="footer_text">
        Σector &copy;
	<span id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
	</span>
	<br />
        Produced by Σector: Kinshan Khan, Ryan Siu, James Smith, & Jake Zaia
      </p>
    </footer>

  </body>
</html>
