{% extends 'base.html' %}

{% block c_title %}
Home
{% endblock %}

{% block header %}
<h1> Choose a Type of Data: </h1>
{% endblock %}

{% block content %}
<div class="radio">
  <label><input type="radio" name="optradio" value="the world's top 10 most populous countries">Populated Countries</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="optradio" value="Europe's top 10 most popular car models" disabled>Popular Car Models in Europe</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="optradio" value="the world's top 10 popular songs... in 2000" disabled>Popular Songs</label>
</div> 
{% endblock %}
