{% extends 'base.html' %}

{% block links_or_scripts %}
<script src={{ url_for('static', filename='js/toquiz.js') }}></script>
{% endblock %}


{% block c_title %}
Home
{% endblock %}

{% block header %}
<h1> Choose Your Data: </h1>
{% endblock %}

{% block content %}
<div class="container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tristique nisi. Proin id porta massa. Morbi egestas vel lorem ut efficitur. Praesent finibus vel enim accumsan fermentum. Proin et eleifend diam. Maecenas id consequat purus, sodales lacinia magna. Cras vel est vitae mauris ullamcorper faucibus. Morbi a sem a augue blandit varius ut sed lacus. Integer aliquam eu enim a porta. Duis consectetur dui iaculis massa sagittis ornare. Pellentesque tincidunt odio et nisi vulputate, nec dignissim ex tempus.</p>
  <div class="row">
    <div class="col-sm-5" style="background-color:#17A2B8;">
      Choose Your Time (seconds)
      <br>
      <br>
      <center>
        <fieldset id="group1">
          <div style="float:left;">
            <input type="radio" name="gr1" id="g1" value="30"/>
            <label for="g1">30</label>
          </div>
          <input type="radio" name="gr1" id="g2" value="60" checked/>
          <label for="g2">60</label>
          <div style="float:right;">
            <input type="radio" name="gr1" id="g3" value="180"/>
            <label for="g3">180</label>
          </div>
        </fieldset>
      </center>
      <br>
    </div>

    <div class="col-sm-2" style="background-color:white;">
    </div>
    <div class="col-sm-5" style="background-color:#17A2B8;">
      Choose Your Dataset Magnitude (size)
      <br>
      <br>
      <center>
        <fieldset id="group2">
          <div style="float:left;">
            <input type="radio" name="gr2" id="g1" value="10"/>
            <label for="g1">10</label>
          </div>
          <input type="radio" name="gr2" id="g2" value="15" checked/>
          <label for="g2">15</label>
          <div style="float:right;">
            <input type="radio" name="gr2" id="g3" value="20"/>
            <label for="g3">20</label>
          </div>
        </fieldset>
      </center>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4" style="background-color:#FFD700;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <br>
      <br>
      <center>
        <button type="button" class="btn btn-info" value="1">Countries</button>
      </center>
    </div>
    <div class="col-sm-4" style="background-color:#17A2B8;">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
      <br>
      <br>
      <br>
        <button type="button" class="btn btn-warning" value="2" style="float: left;">Male</button>
	<button type="button" class="btn btn-warning" value="3" style="float: right;">Female</button>
    </div>
    <div class="col-sm-4" style="background-color:#FFD700;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      <br>
      <br>
      <center>
        <button type="button" class="btn btn-info" value="4">Songs</button>
      </center>
    </div>
  </div>
</div>
{% endblock %}
