{% extends 'base.html' %}

{% block links_or_scripts %}
<script src={{ url_for('static', filename='js/toquiz.js') }}></script>
{% endblock %}


{% block c_title %}
Home
{% endblock %}

{% block header %}
<h1> Choose Your Data: </h1>
{% endblock %}

{% block content %}
<div class="container">
  <p>
    Select one of the following datasets to be quizzed on, a time limit, and the number of items. You will be presented with a quiz where you must guess the top entires in that dataset. As you continue through, you will see the graphs come to life.
    <div class="row">
      <div class="col-sm-5" style="background-color:#17A2B8;">
	Choose Your Time (seconds)
	<br>
	<br>
	<center>
          <fieldset id="group1">
            <div style="float:left;">
              <input type="radio" name="gr1" id="g1" value="30"/>
              <label for="g1">30</label>
            </div>
            <input type="radio" name="gr1" id="g2" value="60" checked/>
            <label for="g2">60</label>
            <div style="float:right;">
              <input type="radio" name="gr1" id="g3" value="180"/>
              <label for="g3">180</label>
            </div>
          </fieldset>
	</center>
	<br>
      </div>

      <div class="col-sm-2" style="background-color:white;">
      </div>
      <div class="col-sm-5" style="background-color:#17A2B8;">
	Choose Your Dataset Magnitude (size)
	<br>
	<br>
	<center>
          <fieldset id="group2">
            <div style="float:left;">
              <input type="radio" name="gr2" id="g1" value="10"/>
              <label for="g1">10</label>
            </div>
            <input type="radio" name="gr2" id="g2" value="15" checked/>
            <label for="g2">15</label>
            <div style="float:right;">
              <input type="radio" name="gr2" id="g3" value="20"/>
              <label for="g3">20</label>
            </div>
          </fieldset>
	</center>
	<br>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4" style="background-color:#FFD700;">
	<center>World population by country according to a 2016 census</center>
	<br>
	<center>
          <button type="button" class="btn btn-info" value="1">World Population</button>
	</center>
	<hr/>
      </div>
      <div class="col-sm-4" style="background-color:#17A2B8;">
	<center>Most popular male and female baby names in 2008</center>
	<br>
        <button type="button" class="btn btn-warning" value="2" style="float: left;">Male</button>
	<button type="button" class="btn btn-warning" value="3" style="float: right;">Female</button>
      </div>
      <div class="col-sm-4" style="background-color:#FFD700;">
	<center>The most dancible songs of 2017 according to Spotify</center>
	<br>
	<center>
          <button type="button" class="btn btn-info" value="4">Songs</button>
	</center>
	<hr/>
      </div>
      <div class="col-sm-12" style="background-color:#FFD700;">
	
	<center>Change in world population by country from 1960 to 2016</center>
	<br>
	<center>
          <button type="button" class="btn btn-info" value="5">Change in Population</button>
	</center>
      </div>
    </div>
</div>
{% endblock %}
