{% extends 'base.html' %}

{% block links_or_scripts %}
<script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}


{% block c_title %}
Search Results
{% endblock %}

{% block content %}
<h3>Search results for "{{s_text}}"</h3>
<hr>

<script>
  var link = window.location.href;
  //console.log(link);
  var n = link.indexOf("?st=") + 4;
  //console.log(n);
  var res = link.slice(n);
  console.log(res);

  d3.csv("../../static/data/{{ data_file | safe }}", function(d) {
  return d;
  }, function(error, data) {
  if (error) throw error;
  data.splice({{ dataset_size | safe }}, data.length);
  //data.includes(res);
  console.log(data);
  });

</script>

<table>
  {% for i in results %}
  <tr id="result">
    <form method="POST" action="/visualization">
      <td class="name">
	<p>{{i}}</p>
	<input type="hidden" name="user" value={{i}}>
      </td>
      <td class="go">
	<button class="button" id="link" type="submit"> View </button>
      </td>
    </form>      
  </tr>
  {% endfor %}
</table>

{% endblock %}
