{% extends 'base.html' %}

{% block links_or_scripts %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/visualization.css') }}"/>

<link rel="shortcut icon" href="">

<link href="{{ url_for('static', filename='css/d3.geomap.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='js/d3.geomap.dependencies.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.geomap.min.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
{% endblock %}

{% block c_title %}
Sector
{% endblock %}

{% block header %}
<h1><dummy id="dataset">{{dataset_name}}</dummy></h1>
{% endblock %}

{% block content %}
  <div class="col-sm">
    <br />
    <center><h3>{{ chart_name }}</h3>
      <div id ="chart">
        <div id="pie">
          <svg width="450" height="450"></svg>
          <div id="infoText">
            Hover over a slice to learn more!
          </div>
        </div>
        <div id="map"></div>
        <div id="graph">
        </div>
      </div>
    </center>
  </div>
</div>
<br>
<br>

<script src="{{ url_for('static', filename='js/game.js') }}"></script>

<script>
  d3.csv("../../static/data/{{ data_file | safe }}", function(d) {
    return d;
  }, function(error, data) {
    if (error) throw error;

    data.splice({{ dataset_size | safe }}, data.length);
    console.log(data);
    populateChart(data);
  });

  var format = function(d) {
    d = d / 1000000;
    return d3.format(',.02f')(d) + 'M';
  }

  var map = d3.geomap.choropleth()
              .geofile('../../static/data/topojson/world/countries.json')
              .colors(colorbrewer.YlOrBr[9])//9 bin multi hue color scheme
              .column('value')//Country Populations
              .legend(true)
              .format(format)
              .unitId('Country Code');

  d3.csv('../../static/data/{{ data_file | safe }}', function(error, data) {
    data.pop()//remove the 'total' row from the csv
    d3.select('#map').datum(data).call(map.draw, map);
  });

  // For bar graphs
  d3.csv("../../static/data/{{ data_file | safe }}", function(d) {
    return d;
  }, function(error, data) {
    if (error) throw error;

    data.splice({{ dataset_size | safe }}, data.length);

    console.log(data);
    bargraph(data);
  });
</script>

{% endblock %}
